body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  color: black;
}

.inputs {
  margin: 20px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 10px 15px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
}

canvas {
  margin-top: 20px;
  border: 1px solid #ccc;
  background: white;
}
.inputs {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.inputa {
  display: flex;
  flex-direction: column;  /* THIS makes label go above */
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}
